---
layout: default
title: Whitepaper - Planning for Success
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Planning for success
        %h2.page-subtitle How to quickly iterate and ship code in the DevOps lifecycle.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Reducing the time between thinking of an idea and having the code in production is vital to delivering value to customers, but 25% of product managers struggle to create a consistent project management methodology or scoping document.
            %p Planning what actions to take to ship an idea is an essential part of maintaining velocity, and when teams adopt a simple, flexible approach to planning, they can quickly ship code and innovate to create features that customers want.

            %h3 What you'll learn in this whitepaper:
            %ul
              %li The problem with traditional planning methods
              %li How a large toolset limits progress
              %li How to successfully plan with GitLab

            %p Download the whitepaper to discover how teams can work in a single, shared space to easily and efficiently collaborate.


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Download the whitepaper
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{style: "visibility:hidden;"}
          .col-md-4.col-md-4.col-md-offset-1
            %a.btn.cta-btn.orange{ href: "/resources/downloads/gitlab-planning-for-success-whitepaper.pdf", target: "_blank" } Download the whitepaper
            %p.margin-top20 You will also receive a link to the whitepaper sent to your inbox.
